<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Canada</key>
	<string>911</string>
	<key>United States</key>
	<string>911</string>
	<key>Mexico</key>
	<string>065</string>
	<key>Spain</key>
	<string>112</string>
	<key>France</key>
	<string>15</string>
	<key>Italy</key>
	<string>118</string>
	<key>Germany</key>
	<string>112</string>
</dict>
</plist>
