<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>http://m.en-corporate.canada.travel</string>
	<string>http://www.usatoday.com/travel/</string>
	<string>http://www.mexiconewsnetwork.com/es/movil/</string>
</array>
</plist>
